
<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_task_path(@project, @task), class: 'btn btn-info'   %>
  </div>
  <h1> <%= @task.description %></h1>
</div>

<p>
  <ol class="breadcrumb">
    <li><a href="/tasks">Tasks</a></li>
    <li class="active"><%= @task.description %></li>
  </ol>

</p>
<div>
  <strong>Due On:</strong>
  <%= @task.date %>
</div>
